NEXT_PUBLIC_API_KEY='Your API Key'
NEXT_PUBLIC_AUTH_DOMAIN='Your Auth Domain'
NEXT_PUBLIC_DATABASE_URL='Your DB URL'
NEXT_PUBLIC_PROJECT_ID='Your project ID'
NEXT_PUBLIC_STORAGE_BUCKET='Your storage bucket ID'
NEXT_PUBLIC_MESSAGING_SENDER_ID='Your Sender ID'